.header{
    width: 100%;
    height: 70px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.left ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.left ul li {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    color: white;

}
h1{
    font-size: 40px;
    color: white;
}
.left ul li h3 {

    text-transform: capitalize;
    font-weight: 300;
}

.right h3{
    color: white;
}

button{
    background: none;
    color: white;
    border: 2px solid white;
    gap: 4rem;
    position: relative;
    bottom: 10px;
    right: 40px;
}