<div class="container">
    <div class="box" *ngFor="let item of ab">
        <div class="left">

            <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"
                alt="">
        </div>

<div class="right">
<div class="top">
<h1>{{item.Title}}</h1>
<h3>{{item.Year}}</h3>
<h2>{{item.Genre}}</h2>


</div>

<div class="bottom">
    <h3>Released: <span>{{item.Released}}</span></h3>
    <h3>Duration: <span>{{item.Runtime}}</span></h3>
    <h3>Language: English</h3>
    <h3>Director: James Gunn</h3>
    <h3>Writer: James Gunn, Dan Abnett, Andy Lanning</h3>
    <h3>Actors: <span>{{item.Actors}}</span> </h3>
    <h3>Country: United States</h3>
    <h3>Awards: Nominated for 1 Oscar. 15 wins & 60 nominations total</h3>
    <h3>Plot: The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father, the ambitious celestial being Ego. </h3>
</div>



</div>





    </div>






</div>